.nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #0000007b;
  background-color: #f0f0f4;
}

.link {
  color: #232323;
  font-size: 20px;
  box-shadow: 0 0 4px #0000007b;
  border-radius: 4px;
  padding: 4px;
  transition: background-color 300ms ease-out;
}

.active {
  color: #ffb300;
  font-weight: 500;
}

.link:hover,
.link:focus {
  background-color: #2d235e6a;
}

@media screen and (min-width: 767px) {
  .nav {
    gap: 20px;
    padding: 8px;
  }
  .link {
    padding: 10px 24px;
  }
}
